# Common Frontend
react-router-dom
axios
socket.io-client
@mui/material 
@emotion/react 
@emotion/styled
@mui/icons-material
qs

# Common Backend
express
nodemon
cors
@prisma/client
prisma
dotenv
axios
jsonwebtoken
socket.io
bcrypt
qs
faker